<div id="primaryNews">
  <%= image_tag("large.jpg", srcset: [["large.jpg", "720w"], ["medium.jpg","600w"],["small.jpg","480w"]],
      sizes: "(min-width: 960px) 720px,(min-width: 800px) 600px, 100vw") %>
  <p>
    Luego de varias temporadas esperando la llegada del invierno, este finalmente lleg칩.
    Para mi una gran decepci칩n. Desde que la serie avanzo m치s r치pido que los libros fue perdiendo calidad hasta llegar a la octava temporda.
  </p>
  
</div>
