<div id="primaryNews">
  <%= image_tag("large.jpg", title: "Plaza de la Revolución", alt:  "Plaza de la Revolución, cielo nublado y banderas ondeando", srcset: [["large.jpg", "720w"], ["medium.jpg","768w"],["small.jpg","576w"]],
      sizes: "(min-width: 960px) 720px, (min-width: 768px) 768px, (min-width: 576px) 576px") %>
  <p>
    El atributo <strong><em>srcset</em></strong> espera una o más cadenas de texto separadas por comas indicando un posible origen del recurso a mostrar.
    Estas cadenas de texto representan una URL.
  </p>
  <p>
    Las URLs pueden estar seguida por un espacio y:
    <ul>
      <li>
	Un descriptor de ancho, en forma de entero positivo. Seguido de una "w".
      </li>
      <li>
	Un descriptor de densidad de pixel, en forma de real positivo. Seguido por una "x".
      </li>
    </ul>

    Ejemplo:
    <br>
    
    <pre>
      <code>
	&lt;img alt="Reloj automático" title="Reloj automático"
	srcset="/assets/clock-large.jpg 241w,
        /assets/clock-md-s.jpg 768w,
	/assets/clock-sd-s.jpg 576w"
	src="/assets/clock-large.jpg"&gt;
      </code>
    </pre>
    <br>
    Para más informacion visite <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-srcset">developer.mozilla.org</a>
  </p>
  <p>
    Con esto se le está diciendo al navegador que utilice la imagen que crea mas conveniente para mostrar.
  </p>
</div>
